<html>
    <%- include("../partials/head.ejs")%>
    <body>
        <div class="container text-center mt-5 border">
            <h1 class="mt-5">404</h1>
            <h2 class="my-5">This page does not exist.</h2>
            <h4 class="mb-5">Go <a href="/" >home</a>.</h4>
        </div>
    </body>
    <%- include("../partials/footerScripts.ejs") %>
</html>