<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs")%>
        <div class="about-title container mt-5 mx-auto">
            <h2>About us</h2>
        </div>
        <div class="about container my-4 mx-auto p-5 rounded">
            <p><strong>Unfoolable</strong> is a multi-contributor blog page currently hosting a single member, founder <a class="profile-link" href="/profile/61608536e460faabb848815e">John Smith</a>.</p>
            <p>Our name is ironically based on the misapprehension &#8212; come whatever circumstance &#8212; that one is incapable of being fooled,
            since it is our belief that it is always <em>easy to be mistaken</em>, and by no authority can we judge whether or not in fact we are.</p>
            <p>If you would like to join our team, or else have any questions or comments about the site, you may reach us at <a href="mailto:unfoolable.queries@gmail.com">unfoolable.queries@gmail.com</a>.</p>
        </div>
    </body>
    <%- include("../partials/footer.ejs") %>
    <%- include("../partials/footerScripts.ejs") %>
</html>

